<h1>Cause#new</h1>
<p>Find me in app/views/cause/new.html.erb</p>

<%= form_for(@cause, :url => {:action => 'create'}, :html => { :multipart => true } ) do |f| %>
 <%= f.file_field :avatar %>
<br>
<button id="register_button" class="btn btn-base btn-icon btn-icon-right btn-sign-in" type="submit">
    <span>Submit Cause</span>
</button>

<% end %>
