<section class="slice bg-base">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Privacy Policy</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>

<section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
<p>
	<br /><br />

    April 7, 2014
    <br /><br />
    We are committed to keeping your personal information private. Please review this Privacy

    Policy, our Terms of Service (“ToS”), any other rules, including any sweepstakes rules and FAQ

    (Frequently Asked Questions), which also govern your use of the Sun MicroSolutions,Inc.(DBA

    Changefindr) digital applications (“Apps”) or visits to the www.changefindr.com (the “Site”).

    This Privacy Policy covers the collection, use, and disclosure of personal information that may

    be collected by us anytime you interact with the Site, such as when you register with or opening

    a membership account on the Site (“Account”), use the various Services we provide, as defined

    below, so that you are aware of your legal rights and obligations with respect to the Site or

    Changefindr and any of its affiliates, parents and subsidiaries (individually and collectively,

    “we,” “us,” “our” or “Sun MicroSolutions, Inc.”).

    <br /><br />
    Please take a moment to read the following to learn more about our information practices,

    including what type of information is gathered, how the information is used and for what

    purposes, to whom we disclose the information, and how we safeguard your personal

    information.
    <br /><br />
    User access to the Site and Services (as defined below) is void and unauthorized where

    prohibited by applicable law or regulation.
    <br /><br />
    <b>
        BY USING THE APPS, SITE OR OUR SERVICES, YOU (I) SIGNIFY YOUR IRREVOCABLE

        ACCEPTANCE OF THIS PRIVACY POLICY; AND (II) REPRESENT THAT YOU ARE EITHER MORE

        THAN 18 YEARS OF AGE, AN EMANCIPATED MINOR, OR POSSESS LEGAL PARENTAL OR

        GUARDIAN CONSENT, AND ARE FULLY ABLE AND COMPETENT TO ENTER INTO THE TERMS,

        CONDITIONS, OBLIGATIONS, AFFIRMATIONS, REPRESENTATIONS, AND WARRANTIES SET

        FORTH IN THIS PRIVACY POLICY, AND TO ABIDE BY AND COMPLY WITH THIS PRIVACY POLICY.

        IN ANY CASE, YOU AFFIRM THAT YOU ARE OVER THE AGE OF 13, AS THE SITE AND THE APPS

        ARE NOT INTENDED FOR CHILDREN 13 YEARS OF AGE OR UNDER. IF YOU ARE 13 YEARS OF

        AGE OR UNDER, YOU ARE NOT ALLOWED TO USE OR EVEN ACCESS THE SITE, APPS OR THE

        SERVICES.
    </b>
    <br /><br />
    Further, if you do not agree with this Privacy Policy, or any of its terms, please do not provide

    us with your personally identifiable information (“PII”) for example your full name, email

    address, mailing address, telephone number, or credit card number or any other personal

    information capable of being associated with you individually through one or more identifiers.

    Our business changes constantly, and our ToS, any rules posted on the Apps or Site, as well

    as this Privacy Policy may change too. You should check the Apps and Site frequently to see

    if there are recent changes. Changefindr reserves the right to revise this Privacy Policy at any

    time. Your continued use of the Apps or Site shall be deemed an irrevocable acceptance of any

    such revisions.
    <br /><br />
    Unless stated otherwise, our current Privacy Policy applies to all information that we have

    about you. The above sentence notwithstanding, this Privacy Policy only applies to information

    collected by Sun MicroSolutions, Inc..
    <br /><br />
    <b>Description of the Site.</b> Changefindr is a platform where users (“Donors”) make contributions

    (“Contributions”) to fund non-profit organizations and causes and in return receive tax-

    deductible receipts.

    Except as otherwise provided herein, usage of the Services does not require registration of an

    Account. In order to have access to certain features of the Site, however, you may be required

    to create an Account. You may never use someone else’s Account. When creating an Account

    with the Site, you agree to provide accurate, current and complete information about yourself

    (“Registration Data”) as prompted by our registration form. Registration Data may include

    your e-mail address, password, shipping address, credit card information, age and gender. You

    also represent that we may rely on your Registration Data as accurate, current and complete.

    You agree to maintain and update your Registration Data to keep it accurate, current and

    complete. We reserve the right, in our sole and absolute discretion, to terminate your Account

    for inaccurate, untrue, deceptive and/or incomplete Registration Data.

    Users of the Apps and Site may, where and if available, submit any photograph(s), video(s),

    image(s), text, rating, opinions and/or comment(s) or other content to the Apps and Site

    (“Submissions”).

    <br /><br />


    <b>1. What information does the Site collect?</b>
    <br /><br />

    a. PII collected from Users: Except as otherwise provided herein, usage of the Services

    does not require registration of an Account. The above sentence notwithstanding, the Site does

    provide Users with the ability to voluntarily register an Account. When you create an account

    on the Website, we collect basic information about you through the registration process – your

    name, email address, and a means to authenticate your account (for example, a password).

    You may also choose to provide additional information through the account creation and

    update process. If you choose to access the Website through your Facebook account, you are

    creating an account with Changefindr on the Website and you grant Changefindr permission

    to access your basic Facebook information (including gender and birthday) and, with your

    express consent, to use other information about you from Facebook in accordance with the

    Facebook terms of use, our ToS and this Privacy Policy. Services like Facebook Connect give

    you the option to post information about your activities on this Website to your profile page to

    share with others within your network. You can review and update the account information you

    provide to Changefindr through the Website by logging into your account on the Website. We

    collect any additional information you choose to provide us when you update your account on

    the Website.


    <br /><br />
    b. PII collected from non-Registered Users of the Site. Users of the Site may choose to

    browse, search and examine any information or Submissions available on the Site without

    registering with the Site or setting up an Account. When you visit our Site as a non-registered

    User, we collect only information you provide or submit to the Site directly, information you

    send to us by email, information and messages you send or post through our accounts on

    third party social networks (such as Facebook, YouTube or Twitter), comments you provide

    or information or messages you send through any phone, SMS or mobile services we may

    provide. The foregoing statement not withstanding, our servers may recognize and collect non-
    registered Users’ domain names, IP addresses and any information on pages visited.

    <br /><br />

    c. PII collected from Registered Users on the Site. In order to have access to some

    features available on the Site, a User may register and setup an account (“Account”). In

    particular, donating your card requires the registration of an Account. We may ask for and

    collect some PII when you create an Account, including, but not limited to your name, e-mail

    address, password, gender, credit card information and shipping address. We may also collect

    such PII as your age, demographic information, pictures and socioeconomic status. Once you

    become a registered User, we collect a variety of information and PII depending on the Services

    you use or engage in such as information on Products you redeem.

    <br /><br />

    d. Content Uploaded to the Site. Any PII or Submissions that you voluntarily disclose

    online (for example, PII contained in your comments, messages or profile pages, if any) is

    collected by us. In addition, any such information that may become publicly available and can

    then be collected, viewed and used by third parties.


    <br /><br />

    e. Usage Information collected from Users of the Site. We may collect information about

    your usage of the Site, such as the Submissions you make or read, the information you review,

    the frequency and size of data transfers, as well as information you display or click on in the

    Site. If you are logged in we may associate this information with your Account.

    <br /><br />

    f. Surveys & Newsletters. From time-to-time, Changefindr may provide you the

    opportunity to participate in promotions or surveys through the Website or through email.

    If you participate, we may request certain personally identifiable information from you.

    Participation in these surveys or promotions is completely voluntary and you therefore have a

    choice whether or not to disclose this information. The requested information typically includes

    contact information (such as name and shipping address), and demographic information (such

    as zip code and gender). We use this information to notify and award promotion winners, to

    monitor Website traffic, personalize the Website and Program and to send participants email

    newsletters. We may use third party service Donors to conduct these surveys or promotions.

    We will not share the personally identifiable information you provide through a contest or

    survey with other third parties unless we give you prior notice and choice.

    <br /><br />

    g. Click-Through URLs. In some of our email or text messages we may use a “click-through

    URL” linked to content on the Site or Apps. When Users click one of these URLs, they pass

    through our servers before arriving at the destination web page. We track this click-through

    data to help us determine interest in particular topics and measure the effectiveness of our

    communications.

    <b>2. How do we use the information you provide us?</b> We use your PII such as your name,

    address, and e-mail address in order to provide you with the Services, enable the donation, and

    to potentially serve you with advertising while using the Site. As you use additional features on

    the Website or otherwise participate in the Program, we may collect any additional information

    you choose to provide in order to facilitate the operation of these features on the Website or

    your participation in the Program.

    <br /><br />

    o We may share information collected including your PII with our agents, nonprofit

    partners, representatives, contractors and service partners so they can provide us with support

    services such as authorization of credit card transactions, e-mail origination, support services,

    customer relationship management services and order fulfillment.

    <br /><br />

    o The user name you create or email address your provide during registration may be

    displayed to other Users when you provide Submissions such as commenting and other Users

    can contact you through comments, blogs, chat, or forums. Any Submission that you provide

    through the Site or Apps may be redistributed through the Internet to other websites and other

    media channels, and may be viewed by the general public. For example:

    <br /><br />

    i. We may post on the Site, Facebook, Twitter or another third party website that you are

    supporting a particular cause;


    <br /><br />

    ii. We may post on the Site, Facebook, Twitter or another third party website that you are

    engaged in one of the Services provided;

    <br /><br />

    iii. We may post your comments on a Service on the Site, Facebook, Twitter or another

    third party website.

    <br /><br />

    o Marketing by Us: Unless you opt-out, we may use your e-mail or other PII to send

    you commercial or marketing messages without your further consent. Be advised that we

    use your e-mail address, cell phone number and other contact information provided by you

    to contact you regarding the Services you engage in, your redemption for Products and your

    Submissions. We may also use your e-mail address without further consent for non-marketing

    or administrative purposes (such as notifying you of major Site or Apps changes or customer

    service purposes).

    <br /><br />

    o Marketing by Nonprofit Partners (causes): When providing and purchasing a service

    with the Site, you grant Changefindr the permission to share your name and email with

    the nonprofit partner that you are donating to. These nonprofit partners may in their sole

    discretion contact you with information messages without your further consent.

    <br /><br />

    o Marketing by Third Parties: When registering an Account with the Site or at any point

    thereafter, you will be prompted for approval, consent or opt-in to permit us to share your PII

    with third party marketers.

    <br /><br />

    o Opt-Out: You may opt-out at any time by changing your preferences. Your preferences

    can be changed by editing your profile online or sending a request to info@changefindr.com

    <br /><br />

    o We use both your PII and certain non-PII (such as anonymous user data, cookies, IP

    addresses, browser type, click stream data, etc.) to improve the quality and design of the Site

    and Apps as well as to create new Services, features, promotions and functionality by storing,

    tracking, analyzing and processing User preferences and trends, as well as User activity and

    communications.

    <br /><br />

    o We use information collected during submission of Surveys and signups for

    newsletters to send both the information as requested and additional information about

    Changefindr, the Apps or Site. Further, the information collected, including any demographics,

    is used to learn more about the types of people who visit our Site, use the Apps and engage our

    Services.

    <br /><br />

    If any financial information is collected it will be used to bill you for donations made on the

    Site or Apps. If you used a credit card to make a donation on the Site or Apps, your credit card

    information may be subject to verification by the issuing credit card company or other third

    party company. Unless you give us permission at the time such information is collected, this

    information will not be used for any purpose except for the fulfillment and record keeping of

    current and future transactions.

    <br /><br />

    In an attempt to provide increased value to our Users, we may choose various third party web

    sites to link to, and/or frame within the Site. We also may participate in co-branding and other

    relationships to offer e-commerce and other services and features to our Users. However,

    even if the third party is affiliated with us, we have no control over these linked sites, each of

    which has separate privacy and data collection practices independent of us. We encourage

    you to read the policies of these third party websites. By purchasing, or registering or making

    reservations for, products or services offered or sponsored by third parties or advertisers

    through third party links on the Site, or electing to receive communications (such as e-mails)

    or electing to participate in contests, sweepstakes or other programs, offered or sponsored by

    third parties on the Site or Apps, you consent to our providing your PII to those third parties.

    Data collected by our co-brand partners or third party websites (even if offered on or through

    our Site or Apps) may not be received by us. As such, we have no responsibility or liability for

    the independent policies or actions of third parties, and are not responsible for the privacy

    practices or the content of any such web sites. These linked sites are only for your convenience

    and you therefore access any third party website at your own risk. Nonetheless, we seek to

    protect the integrity of our Site, Apps and Services and the links placed upon each of them and

    therefore request any feedback on not only the Site, Apps or Services, but also on third party

    websites we link to as well.

    <br /><br />

    Further, any linking with any other web site is neither an endorsement of that site nor any of

    the products or services that may be offered on that site.

    Note: Your PII or financial information may be passed on to a third party in the event of a

    transfer of ownership or assets of Changefindr or a bankruptcy. We may also disclose PII or

    financial information when we determine that such disclosure is necessary to comply with

    applicable law, to cooperate with law enforcement or to protect the interests or safety of

    Changefindr or other Users of the Site or Apps. Whenever PII or financial information is

    disclosed under this paragraph, we may also disclose your demographic information on a non-
    anonymous basis.

    <br /><br />

    3. How does Changefindr Protect Users Personal Information? We implement a variety of

    security measures to ensure the security of your PII on our systems. When you enter sensitive

    information (such as credit card number) on our registration or order forms, we encrypt that

    information using secure socket layer technology (SSL).

    We follow generally accepted industry standards to protect the personal information submitted

    to us, both during transmission and once we receive it. No method of transmission over the

    Internet, or method of electronic storage, is 100% secure, therefore, while we strive to use

    commercially acceptable means to protect your PII, we cannot guarantee its absolute security.

    Third parties may unlawfully attempt to intercept or access transmissions or private

    communications and other Users may abuse or misuse your personal information that they

    collect from the Site or Apps. Although we work very hard to protect your privacy, we do not

    promise, and you should not expect, that your personal information or private communications

    will always remain private.

    <br /><br />

    4. Individuals under 13 years of age.

    Pursuant to the provisions of the 1998 Federal Children’s Online Privacy Protection Act

    (“COPPA”), our policy is to refuse individuals 13 years of age or under to submit information

    to the Site or Apps or to use the Services. We therefore do not knowingly collect personal

    information from individuals 13 years of age or under.

    The Site is intended to be used by adults. It is not intended for children, and Changefindr

    does not want to collect any personal information for persons who are under the age of 13.

    Changefindr recommends that parents do not post, or permit others to post, any personally

    identifiable information with respect to persons under the age of 13. If you believe that we

    have any information from a child under age 13, please contact us at info@changefindr.com.

    By using Sun MicroSolutions, Inc. (DBA Changefindr), you are representing that you are at

    least eighteen years old and understand that you must be at least eighteen years old in order

    to create an account and purchase the goods or services advertised through the Site. We will

    promptly delete information associated with any account that we obtain with actual knowledge

    is associated with a registered user who is not at least eighteen years old.

    <br /><br />


    5. Does Changefindr Use Cookies? We use “cookies” (small pieces of data we store for an

    extended period of time on your computer, mobile phone, or other device) to make the Site

    and Apps easier to use, to improve our advertising, and to protect you, the Site and Apps.

    We may store your user or login ID to recognize you every time you return to the Site or

    Apps. We may also use third-party advertising technology to serve ads when you visit the

    Site, Apps and other sites upon which we advertise. This technology uses information about

    your visits to the Site, Apps and the other sites upon which we advertise, (not including your

    name, address, or other personal information), to serve our ads to you. In the course of

    serving our advertisements to you, a unique third-party cookie may be placed or recognized

    on your browser. In addition, we may use web beacons, provided by our ad serving partner, to

    help manage our online advertising. These web beacons enable our ad server to recognize a

    browser’s cookie when a browser visits this Site and to learn which banner ads bring users to

    our Site.

    You may manage how your browser handles cookies by adjusting its privacy and security

    settings.

    <br /><br />

    6. How do you change PII provided or OPT-OUT? Changefindr gives registered Users an

    option for modifying or removing their information from our database. To update, modify or

    delete the information that we have on file for you edit your online account profile or contact

    us at info@changefindr.com. We will comply with your requests as reasonably as we can.

    Please note that we require some PII for billing or Product redemption purposes. If you wish to

    delete your name, e-mail address, billing information or mailing address you may be required to

    terminate your Account and suspend any redemption of Products. However, please note, that

    while you may remove your PII from the Site at any time, you acknowledge that we may retain

    archived or cached copies of your PII.

    <br /><br />

    7. Modification. By using the Site, Apps or Services, you consent to the collection and use

    of information by us as set forth in this Privacy Policy. If we decide to change our Privacy Policy,

    we will post those changes within this page so Users are always aware of what information we

    collect, how we use it, and under what circumstances, if any, we disclose it.

    Be sure to review our Privacy Policy, ToS and any Rules regularly so that you will be aware

    of any changes to them. Please remember that your continued use of the Site or Apps, and/

    or maintenance of an Account after changes or revisions have been made constitute your

    acceptance of such updates.

    <br /><br />

    8. Disclosure of non-personally identifiable data. Changefindr reserves the right

    to disclose information that does not directly identify you, for example, aggregated or

    anonymized data, for educational, informational or promotional purposes in furtherance of Sun

    MicroSolutions, Inc.'s mission.

    <br /><br />

    9. Legal disclosures. Notwithstanding anything to the contrary in this Privacy Policy

    or the Terms of Use, you acknowledge, consent and agree that Changefindr may disclose

    information in order to: (a) comply with applicable law, regulation, legal process, or

    governmental request; (b) protect the rights, property and safety of Sun MicroSolutions, Inc.

    (DBA Changefindr), Users and others, including intellectual property rights; and (c) enforce or

    apply our agreements and policies.

    <br /><br />

    10. Location of data. Changefindr is headquartered in the USA. Your personal information

    may be accessed by us, our affiliates, service partners, agents and representatives in the USA

    or elsewhere in the world. By providing us with personal information, you consent to this

    transfer. Changefindr will protect the privacy and security of personal information according to

    this Privacy Policy regardless of where the personal information is processed or stored.

    <br /><br />

    11. Retention period. Changefindr reserves the right to retain your personal information

    for a period of seven years or more to satisfy legal requirements such as recordkeeping and

    tax and credit reporting requirements, as well as for purposes of fraud prevention, audit and

    data integrity. In addition, We also reserves the right to retain, as well as to use and disclose

    as permitted pursuant to this Privacy Policy, your personal information for such period of time

    as reasonably needed by Changefindr to facilitate activities and transactions for the operation

    of the Site and Program, improve User experiences on the Site and in the Program and further

    Sun MicroSolutions, Inc.'s mission. We reserve the right to retain information that does not

    directly identify you, for example, aggregated or anonymized data.

    If you have any questions about this Privacy Policy, please contact us at:

    info@changefindr.com

    <br /><br />
    Sun MicroSolutions, Inc.

</p>
</div>
</div>
</div>
</div>
</section>
