<br/><br/>

<h1 style="text-align:center">Support your favorite cause with the power of gift cards.</h1>

<br/><br/>

<!-- Steps 1, 2, 3 -->
<section class="slice base">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <h3>Changefindr turns your unused gift cards into cash to go towards your favorite cause.</h3>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 ">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="c-white">Step 1: CHOOSE</h4>
                                <p>Select the cause you want to support.</p>
                                <br/>
                                <p>
If you don't see the cause, you can recommend the one(s) you would like to donate to, and we will immediately contact them asking them to join. We will then notify you when they have signed up for Changefindr.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-gift"></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="c-white">Step 2: GIVE</h4>
                                <p>Select the store and enter the gift card number.</p>
                                <br/>
                                <p>
Enter the number and pin.  Choose the amount you want to donate from your remaining balance.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-envelope-o "></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="c-white">Step 3: RECEIVE</h4>
                                <p>Enter your Card and Pin #. Then receive your donation receipt. Simple as that.</p>
                                <br/>
                                <p>
If you requested a donation receipt, we will send a printable receipt to you by email.
                                </p>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <a href="/cause/index" class="btn btn-base btn-lg">Donate To A Cause</a>
                        <br/>
                    </div>
                </div>
            </div>  
        </div>
</section>

<br/><br/><br/><br/><br/><br/>
