<div class="wp-block default user-form no-margin">

        <div class="form-header">
            <h2>Get Donation</h2>
        </div>


        <div class="form-body">
       

            <fieldset>          
              
                <section>
                    <div class="row">
                        <div class="col-md-12">
                            
                            <p>

                                This operation returns information about the donation.
                                <br/><br/>
                                <b>HTTP method:</b> REQUEST
                                <br/><br/>
                                <b>URL:</b> https://www.changefindr.com/api/get_donation

                                <br/><br/>
                                
                                <h5>Request Header Attributes</h5>
                                
                                <table class="table table-responsive table-bordered table-striped">
                                <tbody>
                                <tr>
                                 <th><strong>Field</strong></th>
                                 <th><strong>Type</strong></th>
                                 <th><span>Required</span></th>
                                 <th><strong>Description</strong></th>
                                </tr>

                                <tr>
                                 <td><span>apiKey</span></td>
                                 <td><span>String</span></td>
                                 <td>Y</td>
                                 <td><span>A value that uniquely identifies the user in order to gain access to the api.  Please contact support@changefindr.com to get your key.</span></td>
                                </tr>                               

                                <tr>
                                 <td>Content-Type</td>
                                 <td>String</td>
                                 <td>Y</td>
                                 <td>Should always be <code>application/json</code>.</td>
                                </tr>

                                </tbody>
                                </table>

                                <br/><br/>

                                <h5>Request Elements</h5>
                                

                                <table class="table table-responsive table-bordered table-striped">
                        
                                <tbody>
                                <tr>
                                 <th><strong>Field</strong></th>
                                 <th><strong>Type</strong></th>
                                 <th><span>Required</span></th>
                                 <th><strong>Description</strong></th>
                                </tr>

                                <tr>
                                 <td><span>donationId</span></td>
                                 <td><span>Integer</span></td>
                                 <td>Y</td>
                                 <td><span>Unique identifier of donation.</span></td>
                                </tr>
                              
                                </tbody>
                                </table>

                                <br/><br/>
                                
                                <h5>Response Elements</h5>
                                
                                <table class="table table-responsive table-bordered table-striped">
                                <tbody>
                                <tr>
                                 <th><strong>Name</strong></th>
                                 <th><strong>Type</strong></th>
                                 <th><strong>Description</strong></th>
                                </tr>

                                <tr>
                                 <td><span>causeId</span></td>
                                 <td><span>Integer</span></td>                                 
                                 <td><span>The cause Id assigned by changefindr.</span></td>
                                </tr>     

                                <tr>
                                 <td><span>merchantId</span></td>
                                 <td><span>Integer</span></td>                                 
                                 <td><span>The merchant ID associated with the gift card merchant</span></td>
                                </tr>     


                                <tr>
                                 <td><span>actualCardValue</span></td>
                                 <td><span>Float</span></td>                                 
                                 <td><span>The current balance on card.</span></td>
                                </tr> 


                                <tr>
                                 <td><span>exchangeCardValue</span></td>
                                 <td><span>Float</span></td>                                 
                                 <td><span>Dollar amount Changefindr will reiumburse partner.</span></td>
                                </tr>

                                <tr>
                                 <td><span>dateDonated</span></td>
                                 <td><span>Date Timestamp</span></td>                                 
                                 <td><span>Date and time of donation</span></td>
                                </tr>

                                <tr>
                                 <td><span>donationWall</span></td>
                                 <td><span>Boolean</span></td>
                                
                                 <td><span>Display name on donation wall. Values: true or false</span></td>
                                </tr>

                                <tr>
                                 <td><span>comments</span></td>
                                 <td><span>String</span></td>
                                 <td><span>Comments from the donor about the donation</span></td>
                                </tr>

                                <tr>
                                 <td><span>transactionId</span></td>
                                 <td><span>String</span></td>
                                 <td><span>Customer transaction id</span></td>
                                </tr>


                                </tbody>
                                </table>

                                <br/><br/>

                                <h5>Error Codes</h5>
                                
                                <table class="table table-responsive table-bordered table-striped">
                                <tbody>
                                <tr>
                                 <th><strong>HTTP Status</strong></th>
                                 
                                 <th><strong>Message</strong></th>
                                </tr>

                                <tr>
                                 <td><span>401</span></td>
                                                               
                                 <td><span>Unauthorized access.  Either the api key or host trying to access the service is invalid.</span></td>
                                </tr>                               

                                </tbody>
                                </table>

                                <br/><br/>

                            </p>

                            
                        </div>
                    </div>
                        
                </section>
            </fieldset>

        </div>
    
</div>