<!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey("<%= ENV['stripe_publishable_key'] %>");
    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');
      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };
    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        //alert('submitting form ', $form);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);
        Stripe.card.createToken($form, stripeResponseHandler);
        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>

  <form action="process_payment" method="POST" id="payment-form" class="sky-form">

      <input type="hidden" name="charity_id" value=<%= @donation.charityid %>>

      <input type="radio"  name="donation_choice" value="1" > Donate Unused Gift Card<br/>
      <input type="radio" name="donation_choice" value="2" checked> Donate money using your credit card<br/><br/>

    <span class="payment-errors"></span>

    <div class="row">
      <div class="col-md-8">
        <label>Name as it appears on your card.</label>
        <label class="input">

            <i class="icon-append fa fa-user"></i>
            <input type="text" size="15" name="name"/>
                                                                    
        </label>
      </div>
    </div>

    <br/>

  <div class="row">
    <div class="col-md-8">
      <label>Email</label>
      <label class="input">

          <i class="icon-append fa fa-envelope-o"></i>
          <input type="text" size="5" name="email"/>
                                                                  
      </label>
    </div>
  </div>

    <br/>

  <div class="row">
    <div class="col-md-8">
      <label>Card Number</label>
      <label class="input">
          <i class="icon-append fa fa-credit-card"></i>
          <input type="text" size="20" data-stripe="number"/>                                                      
      </label>
    </div>
  </div>

    <br/>

   <div class="row">
    <div class="col-md-4">
      <label>CVC</label>
      <label class="input">
          
          <input type="text" size="4" data-stripe="cvc"/>                                                      
      </label>
    </div>
   </div>

    <br/>

<label>Expiration (MM/YYYY)</label>
    <div class="row">
    <div class="col-sm-2">
      
      <label class="input">
          
          <input type="text" size="2" data-stripe="exp-month"/>                                                   
      </label>
    </div>
    <div class="col-sm-3">
      <label class="input">
          <input type="text" size="4" data-stripe="exp-year"/>                                                   
      </label>
    </div>
   </div>

    <br/>
    
    <div class="row">
      <div class="col-md-4">
        <label>Donation Amount</label>
        <label class="input">
            <i class="icon-append fa fa-usd"></i>
            <input type="text" size="4" name="payment"/>                                                      
        </label>
      </div>
    </div>

    

<br/>
    <button type="submit">Submit Donation</button>
  </form>

  <script>

    $("form input:radio").change(function(){
   
    console.log('clicked choice');

        if ($(this).val() === '1') {
          //$('#charge_form').hide();
          //$('#gift_card_form').show();
          window.location.href = "/donate/new?charityid=<%=@donation.charityid%>";
        } else if ($(this).val() === '2') {
           window.location.href = "/donate/new?charityid=<%=@donation.charityid%>&charge=true";
          //$('#charge_form').show();
          //$('#gift_card_form').hide();
        } 

    });

</script>