<!-- MAIN CONTENT -->
<section class="slice slice-lg bg-image" style="background: url(/images/patterns/squairy-light.png) repeat fixed !important;">
    <div class="wp-section">
        <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-1 col-sm-5 col-sm-offset-1">
            	<div class="row">
            		
		<div class="col-md-12">

		<div class="wp-block default user-form no-margin">
            <div class="form-header">
                <h2>Donate money using your credit card</h2>

            </div>

	      <div class="form-body">


               <%= render(:partial => "charge_form") %>

            	
        		</div>
    </div>
		 </div>

	       		 
	    </div>
            </div>
            <div class="col-md-4">
            	

                <!-- SIDEBAR -->
                <div class="sidebar">

                    <div class="panel panel-default panel-sidebar-1 visible-lg visible-md" id="merchantinfo">
                        <div class="wp-block default">
                        <div class="figure">
                            <img alt="" src="<%=@donation.charity.logo.url%>" class="img-responsive center-block"
                                            style="margin: auto auto; height: auto; width: auto; max-height:150px; max-width:200px;" 
                                            >     
                        </div>
                        <div class="wp-block-body">
                            <h2 class="title" id=""><%= @donation.charity.charityname %></h2>
                            <a href="/cause/show/<%= @donation.charity.charityid %>">About Cause</a>
                            <p></p>
                        </div>
                    </div>
                    </div>
        
                    
                   

                

                </div> 
            	               
			</div>
        </div>
    </div>
</div>
</section>


