  
  <section class="slice slice-lg bg-image" style="background: url(/images/patterns/squairy-light.png) repeat fixed !important;">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="wp-block default user-form no-margin"> 
                            <div class="form-header">
                                <h2>Welcome <%= @user.firstname %>.  Please reset your password.</h2>
                            </div>
                            <div class="form-body">
                                <form action="/sign_in/resetpasswordsubmit" id="myform" class="sky-form">                                    
                                    <fieldset>                  
                                        <section>

                                            <input type="hidden" id="email" name="email" value="<%= @user.email %>"/>

                                            <div class="form-group">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-lock"></i>
                                                            <input type="password" id="password" name="password" placeholder="New Password">
                                                            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                                                        </label>
                                            </div>  
                                            
                                            <div class="form-group">
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password">
                                                    <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                                </label>
                                            </div>

                                            <div class="" id="passwordStrength"></div>  

                                        </section>
                                        
                                      
                                        <section>
                                            <button id="reset_button"  class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="button">
                                                <span>Reset Password</span>
                                            </button>
                                        </section>
                                    </fieldset>  
                                </form>  
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        var isValidPassword = false;

        $('#reset_button').click(function () {

               
                console.log('form valid password= ' + isValidPassword);


                if (isValidPassword) {

                    $('#reset_button').attr("disabled", true);
                    document.getElementById("myform").submit();
                }

                return false;
            });


        $(document).ready(function() {
 
        $('#reset_button').attr("disabled", true);


        $('#password').on('keyup', function(e) {
     
            if($('#password').val() == '' && $('#confirmpassword').val() == '')
            {
                $('#passwordStrength').removeClass().html('');
     
                isValidPassword = false;
            }
     

     
            // Must have capital letter, numbers and lowercase letters
            var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
     
            // Must have either capitals and lowercase letters or lowercase and numbers
            var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
     
            // Must be at least 6 characters long
            var okRegex = new RegExp("(?=.{6,}).*", "g");
     
            if (okRegex.test($(this).val()) === false) {
                // If ok regex doesn't match the password
                $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Password must be 6 characters long.');
     
            } else if (strongRegex.test($(this).val())) {
                // If reg ex matches strong password
                $('#passwordStrength').removeClass().addClass('alert alert-success').html('Good password');

                if($('#password').val() != '' && $('#confirmpassword').val() != '' && $('#password').val() != $('#confirmpassword').val())
                {
                    //console.log('passwords dont match');
                    $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Passwords do not match.');
                    isValidPassword = false;
                }

            } else if (mediumRegex.test($(this).val())) {
                // If medium password matches the reg ex
                $('#passwordStrength').removeClass().addClass('alert alert-info').html('Make your password stronger with more capital letters, more numbers and special characters.');
            } else {
                // If password is ok
                $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Weak Password, try using numbers and capital letters.');
            }

            
            
            isValidPassword = true;
        });


        $('#confirmpassword').on('keyup', function(e) {
     
            if($('#password').val() == '' && $('#confirmpassword').val() == '')
            {
                $('#passwordStrength').removeClass().html('');
     
                $('#reset_button').attr("disabled", true);
                isValidPassword = false;
            }

            if($('#password').val() != $('#confirmpassword').val())
            {
                $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Passwords do not match.');
     
                $('#reset_button').attr("disabled", true);
                isValidPassword = false;
            }

            if($('#password').val() == $('#confirmpassword').val())
            {
                $('#passwordStrength').removeClass().addClass('alert alert-success').html('Passwords match.');
     
                $('#reset_button').attr("disabled", false);
                isValidPassword = true;
            }
     
            
            isValidPassword = true;
        });
    });

    </script>