<section class="slice bg-base">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Terms and Conditions</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>

<section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
<p>
	TERMS OF USE
    <br /><br />

    Acceptance of Terms
    <br /><br />
    Welcome to the Changefindr Site. You should carefully review the following terms and conditions. Changefindr requires that all merchants, donors, charitable organizations (“Causes”)and all other visitors (collectively known as “users”) to its site (“the Site”) agree to the terms and conditions set forth in this User Agreement. BY USING THE SERVICE IN ANY MANNER, INCLUDING, BUT NOT LIMITED TO, VISITING OR BROWSING THE SITE OR CONTRIBUTING CONTENT, INFORMATION, OR OTHER MATERIALS OR SERVICES TO THE SITE, YOU AGREE TO BE BOUND BY THIS AGREEMENT.
    <br /><br />
    Summary of Service
    <br /><br />
    Changefindr is social giving platform where users can donating to their favorite cause with unused gift cards.
    Donors can choose between various causes on the platform that they want to support.
    Only registered users can make donations on Wishbero. Registration is free.
    Donors may donate additional amount to their favorite cause by using a Credit Card, PayPal or other payment method approved by Wishbero.
    Terms of Sale
    <br /><br />
    Changefindr serves as an intermediary between Merchant issued cards and Donors.
    The Merchant is fully responsible for all goods and services it provides to the Donor and for any and all injuries, illnesses, damages, claims, liabilities and costs (“Liabilities”).
    By participating and using Changefindr, you represent that you are 13 years of age or older.
    You waive and release Changefindr and its subsidiaries, affiliates, partners, officers, directors, employees and agents from any Liabilities arising from or related to any act or omission of a Merchant in connection with your use of the services/goods it provides in connection with it.
    In the unlikely event of a dispute between Donor and Merchant, always try to work out the problem with the other party directly. Changefindr is not responsible for your interactions with any Merchants, Donors or Causes (even to the extent prohibited by this Agreement) and any disputes or damages that may result from such interactions. Changefindr reserves the right, but has no obligation, to monitor disputes between you and such persons. For further assistance, you can contact us info@changefindr.com
    Non-profit organizations (Causes)
    <br /><br />
    You can submit new causes on www.changefindr.com that you want to support. You warrant and represent that you are raising money for a cause that is legal under applicable laws and that benefits a non-profit cause. Changefindr may decline causes in its sole discretion at any time and makes no representation that contributions to any particular cause are tax-deductible. Participation in the Services is subject to Changefindr’s prior approval.
    By submitting the application, you grant Changefindr a worldwide right to display your listing on our site and you represent and warrant that you have the right to enter into and perform this agreement with Changefindr including, but not limited to, the consent of the charitable organization or cause to authorize the use of its name and logos for promotional, marketing and advertising purposes related to this promotional endeavor.
    Causes can enter a PayPal account when signing up with Changefindr and revenues are only made available for withdrawal 30 days after the end of each month.
    Withdrawing revenues requires having a valid PayPal account. Please make sure that your PayPal account can receive incoming payments before withdrawing funds.
    Your profile can be associated with only one PayPal account. A PayPal account cannot be associated with more than one profile.
    PayPal charges 2% of the total withdrawal sum, and up to a maximum of $1 when withdrawing revenues. Please check PayPal’s website for current rates and fees.
    Withdrawals are final. We will not be able to refund or change this process once it has begun.
    If your cause has not entered a valid PayPal account when signing up, Changefindr will send your organization a check at the beginning of each year, provided the organization has accrued $50 or more. If the organization has earned less than $50, the funds will be allocated to a charity chosen by Changefindr in its sole discretion.
    In situations where it is not possible for Changefindr to transfer the donation to the Organization recommended by Merchant (including, without limitation, where an Organization has ceased to carry on operations), Changefindr has the right to forward the donation to another Organization Changefindr deems appropriate and in line with the spirit and aim of the original Organization
    Fees and Payment
    <br /><br />
    Changefindr is free to join. We charge a fee of 25% per transaction on all proceeds to support our operations. You understand and accept that all fees charged are subject to change at any time. Funds (less all applicable fees) are available after a safety clearance period of 30 days. Users and/or beneficiaries have full responsibility for all applicable taxes for funds paid. User agrees to indemnify, defend and hold Changefindr harmless from any liability for, or assessment of, any claims or penalties with respect to such withholding taxes, labor or employment requirements, including any liability for, or assessment of, withholding taxes imposed on Changefindr by the relevant taxing authorities with respect to any funds paid.
    <br /><br />
    General Terms
    <br /><br />
    User Content: Some areas of the Service may allow Users to post feedback, comments, questions, and other information. Any such postings constitute “User Content.” You are solely responsible for your User Content that you upload, publish, display, link to or otherwise make available (hereinafter, “post”) on the Service, and you agree that we are only acting as a passive conduit for your online distribution and publication of your User Content. You must be the owner of all the Intellectual Property Rights (as defined below) in the User Content you post, or have explicit permission from the owner(s) of all such rights to post the User Content on Wishbero
    <br /><br />
    For the purposes of this Agreement, “Intellectual Property Rights” means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.
    <br /><br />
    You agree not to post or send any information or content that we deem to be unlawful, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, or otherwise objectionable; contains any information or content that is illegal or that you know is not correct and current.
    <br /><br />
    You agree that any User Content that you post does not and will not violate third-party rights of any kind, including without limitation any Intellectual Property Rights, rights of publicity and privacy.
    <br /><br />
    Changefindr reserves the right to reject and/or remove any User Content that it believes, in its sole discretion, violates these provisions.
    <br /><br />
    We invite everyone to report suspected violations together with proof of ownership.
    <br /><br />
    In consideration of your use of the Site or participation in the Program, you agree to (a) provide accurate, current and complete information about you as may be prompted by any registration forms on the Site (“Registration Data”); (b) maintain the security of your password and identification; (c) maintain and promptly update the Registration Data, and any other information you provide to Changefindr, to keep it accurate, current and complete; and (d) be fully responsible for all use of your account and for any actions that take place using your account. You agree not to impersonate any person or entity.
    <br /><br />
    License Grant
    <br /><br />
    By posting any User Content on the Service, you expressly grant, and you represent and warrant that you have a right to grant, to Wishbero a royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, publicly perform, publicly display, and make derivative works of all such User Content and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed for use in connection with the Service.
    <br /><br />
    Proprietary rights
    <br /><br />
    Changefindr’s logo, graphics, designs, page headers, button icons, scripts, names and branding are trademarks, service marks or trade dress and cannot be used without prior written permission from Changefindr.
    <br /><br />
    Warranties
    <br /><br />
    Changefindr is not making any warranties and is not responsible or liable for the accuracy of content found on the Site or in its programs. Changefindr is not responsible under no circumstances for any loss or damage, including, without limitation, personal injury or death, resulting from any use of the Site or participation in the Program, including without limitation any content posted, uploaded, submitted, transmitted, or otherwise shared on the Site or any interactions between any Users of the Site, or Program, whether online or offline. Changefindr does not represent, warrant, covenant, guarantee or promise any specific results from use of the Site or the Program.
    <br /><br />
    Limitation of Liability
    <br /><br />
    You understand that any and all decision made by you with respect to the Site and Program are yours alone. Changefindr cannot and does not verify the accuracy of information from Merchants, Donors and Causes. Changefindr shall not be responsible, or have any duty or obligation to, or liability for: (a) decisions or interactions resulting (directly or indirectly) from participation in the Program; or (b) any damages, costs, losses or expenses a User incurs as a result (directly or indirectly) of providing a service or as a result (directly or indirectly) of utilizing the Program or information received in connection with the Program. In addition, in no event will Changefindr be liable to you or any third person for any damages, costs, losses or expenses, including any lost capital, lost profits or special, incidental, consequential or punitive damages arising from your use of the Site or participation in the Program, even if Changefindr has been advised of the possibility of such damages, costs, losses or expenses.
    <br /><br />
    Governing Law; Resolution of Disputes; Arbitration and Waivers
    <br /><br />
    This Agreement is governed by the laws of the State of California, USA, without regard to its choice of law or conflict of law provisions. If any disputes arises between you and Changefindr, including without limitation, any dispute arising from or relating to the Site or the Program, you agree that all such disputes will be determined exclusively by final and binding arbitration, in accordance with the then existing commercial rules of the American Arbitration in Los Angeles if the amount claimed is greater than $100. The arbitration shall be heard and adjudicated by one arbitrator to be selected by you and Changefindr. Any award will be final, binding and conclusive upon the parties, subject only to judicial review provided by California statute, and a judgment rendered on the arbitration award can be entered in any court having jurisdiction thereof. Notwithstanding the foregoing, either you or Changefindr may seek any injunctive relief in a state or federal court in Orange County, California, as may be necessary to preserve rights pending the completion of arbitration and Changefindr may seek injunctive relief in a state or federal court in Los Angeles, California, or another court of competent jurisdiction, at any time against any violations of Proprietary Right or Acceptance of Terms of this Agreement. TO THE EXTENT PERMITTED BY APPLICABLE LAW, BY AGREEING TO SUBMIT ALL DISPUTES TO BINDING ARBITRATION, YOU AND CHANGEFINDR HEREBY WAIVE YOUR RIGHT TO A JURY OR COURT TRIAL OF ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR BASED UPON THIS AGREEMENT OR ANY CONTEMPLATED USE HEREIN, INCLUDING CONTRACT, TORT, BREACH OF DUTY AND ALL OTHER CLAIMS, EXCEPT AS SPECIFICALLY PROVIDED ABOVE. You waive, to the maximum extent not prohibited by law, any right you may have to claim or recover, in any legal action or proceeding, any special, exemplary, punitive or consequential damages.
    <br /><br />
    Indemnity
    <br /><br />
    You agree to indemnify and hold Wishbero harmless from any loss, liability, claim, or demand, including reasonable attorney’s fees, made or incurred by any third party due to or arising (directly or indirectly) out of your use of the Site or participation in the Program or arising from your breach of this Agreement.
    <br /><br />
    You are solely responsible for your interactions with Merchants and other users of the Site. To the extent permitted under applicable laws, you hereby release Wishbero from any and all claims or liability related to any product or service of a Merchant, any action or inaction by Merchant, including Merchant’s failure to comply with applicable law and/or failure to abide by the terms of the Voucher, and any conduct or speech, whether online or offline, of any other user.
    <br /><br />
    Modifications to the User Agreement
    <br /><br />
    We reserve the right, at our discretion, to change, modify, add or remove portions of this User Agreement at any time. Please check this User Agreement and any Guidelines periodically for changes. Your continued use of the Site after the posting of changes constitutes your binding acceptance of such changes.
    <br /><br />
    Availability of the Site
    <br /><br />
    The Site may change or contain media, features or services available within the site may be discontinued at any time, and without notice. The media or services on the Site may be out of date, and Wishbero makes no commitment to update these materials on the site.
    <br /><br />
    Entire Agreement, Severability
    <br /><br />
    This Agreement, accepted upon your access and use of the Site or participation in the Program and further affirmed by becoming a User, contains the entire agreement between you and Wishbero regarding the use of the Site or the Program. This Agreement may not be orally amended. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.
    <br /><br />
    Termination
    <br /><br />
    Changefindr may terminate these Terms of Use at any time. Without limiting the foregoing, Changefindr shall have the right to immediately terminate or suspend any of your passwords or accounts in the event Changefindr considers, in its sole discretion, any of your conduct to be unacceptable, or in the event you breach this Agreement. Notwithstanding the above, these Terms of Use will survive termination of this Agreement. Any Voucher issued prior to termination will be honored according to its terms and the terms of this Agreement specifically applicable to such Voucher.
    <br /><br />
    Please contact us at info@changefindr.com with any questions regarding this Agreement

</p>
</div>
</div>
</div>
</div>
</section>
