<br/><br/><br/><br/><br/>


<div class"row">

	<div class="col-md-9 col-md-offset-2">

		<h2>Administration</h2>
		<br/>

		<ul>
			<li><a href="/account/index">View All Accounts</a></li>
			<li><a href="/giftcard/index/?viewall=true">View All Gift Cards</a></li>
        	<li><a href="/cause/index/?viewall=true">View All Causes</a></li>
        	<li><a href="/donate/index/?userid=<%= session[:userid]%>&viewall=true">View All Donations</a></li>
        	<li><a href="/user/index">View All Users</a></li>
        </ul>
	</div>

</div>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>