
<style>

.main-caption {
        z-index: auto !important;
        color: #fff;
        opacity: 0.9;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        /*background: #000;*/
        /*
        margin-bottom: 30px;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(20%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
        text-align: center;
        z-index: auto !important;
            */
    }

</style>

<!-- Main Image -->        
<section class="slice no-padding bb">
        <div class="wp-section">
            <div class="container-fluid no-padding">
                <div class="row">
                    <div class="col-md-12">
                        <!-- JumboTron -->
                        <div class="jumbotron">
                            <div class="jumbotron-left">
                                <div id="homepageCarousel" class="carousel carousel-1 carousel-fixed-height slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        
                                        <div class="item item-light active" style="background-image:url(images/prv/estate/item-3.jpg);">
                                            
                                            
                                                    <div class="container">
                                                        <!-- rgb(42, 142, 209) blue -->
                                                        <div class="description-left main-caption" style="background-color: rgb(33, 125, 187);border-radius: 25px;margin-left: 10%;height:55%;margin-top: 5%;">
                                                            <br/>
                                                            <span class="title c-white text-uppercase strong-700" style="margin-left: 10%;text-transform: inherit !important;">HotelZoo.com</span>
                                                            
                                                            <br/><br/>
                                                            <ul class="list-carousel mb-20" style="margin-left: 10%;">
                                                                <li><i class="fa fa-check-square"></i> Negotiate rates directly with the hotels</li>
                                                                <li><i class="fa fa-check-square"></i> Rooms at your price</li>
                                                                <li><i class="fa fa-check-square"></i> You are in charge of getting the best possible deal</li>
                                                                <li><i class="fa fa-check-square"></i> Last minute deals</li>
                                                               
                                                            </ul>
                                                            
                                                        </div>
                                                        </div>
                                                    
                                        </div> 
                                        
                                       
                                    </div>
                                    
                                   
                                </div>
                            </div>
                            <div class="jumbotron-right">
                                <!-- FIND property list WIDGET -->
                                <div class="panel panel-base no-margin">
                                    <div class="panel-heading panel-heading-lg">Hotel Search</div>
                                    <form class="form-base" role="form">
                                        <div class="panel-body" style="padding:25px;">
                                        
                                            <div class="form-group">
                                                <input type="text" class="form-control input-lg" placeholder="Destination, hotel, landmark or address">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    <label class="">Check In</label>
                                                    
                                                    <input type="text" id="from" name="from" class="form-control input-lg">
                                                    </div>

                                                    
                                                    <label id="nightsdisplay" name="nightsdisplay" class="">Nights:</label>
                                                    <input type="text" id="nights" name="nights" style="display: none;">
                                                    <br/>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    <label class="">Check Out</label>
                                                    <input type="text" id="to" name="to" class="form-control input-lg">
                                                    </div>
                                                    

                                                </div>
                                            </div>

                                                <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group form-group-sm field_select">
                                                        <label class="">Rooms</label>
                                                        <select class="form-control select_styled base no-padding">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                        </select>
                                                    </div>
                                                </div>
                                               

                                           
                                           
                                                <div class="col-md-4">
                                                    <div class="form-group form-group-lg field_select">
                                                        <label class="">Adults</label>
                                                        <select class="form-control select_styled base no-padding">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>

                                                        </select>
                                                        <label class="">(Age 18+)</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-group-lg field_select">
                                                        <label class="">Children</label>
                                                        <select class="form-control select_styled base no-padding">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                           
                                                        </select>
                                                        <label class="">(Age 0-17)</label>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                        <button type="submit" class="btn btn-xl btn-block-bm btn-alt btn-icon btn-icon-right btn-icon-go btn-square">
                                            <span>Search</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




<!-- Tesitmonials -->
<section class="slice base">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <div id="carouselTestimonial" class="carousel carousel-testimonials slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselTestimonial" data-slide-to="1" class=""></li>
                            
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="text-center">
                                    <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                    <p class="testimonial-text">
                                    HotelZoo made it very easy to collect funds through unused gift cards
                                    </p>
                                    <p>
                                        Ounie Phakousonh | CoderDojo
                                    </p>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-center">
                                    <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                    <p class="testimonial-text">
                                    HotelZoo gives me the opportunity to contribute to my favourite cause even in difficult times
                                    </p>
                                    <p>
                                        Seema Makker | Donor
                                    </p>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- CLIENTS -->
    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Our partners</span></h3><br/><br/>
                </div>
                <div class="row">
                    
                    <div class="col-md-3 visible-lg visible-md">
                        
                    </div>

                    <div class="col-md-3">
                        <div class="client">
                            <a href="http://www.faststartstudio.com/" target="_blank">
                                <img src="<%= CLOUDFRONT_HOST %>/images/faststart_logo.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                   
                  

                     <div class="col-md-3">
                        <div class="client">
                            <a href="http://fi.co/" target="_blank">
                                <img src="<%= CLOUDFRONT_HOST %>/images/FI_logo.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>

                     <div class="col-md-3 visible-lg visible-md">
                        
                    </div>
                    
                </div>
            </div>
        </div>
</section>

<style>

.ui-datepicker {

    margin-top: 20%;
}

</style>


<script>
$(function() {
    function datepicked() {
        var fromDate = $('#from').datepicker('getDate');
        var toDate = $('#to').datepicker('getDate');
        if (fromDate && toDate) {
            var difference_msec = toDate.getTime() - fromDate.getTime();
            var difference_days = difference_msec / 86400000;
            $("#nights").val(Math.ceil(difference_days));
            $("#nightsdisplay").html('Nights: ' + Math.ceil(difference_days));
        }
    }
    $('#from').datepicker({
        numberOfMonths: 2,
        firstDay: 1,
        dateFormat: 'mm-dd-yy',
        minDate: '0',
        maxDate: '+2Y',
        onSelect: function(dateStr) {
            var d1 = $(this).datepicker("getDate");
            d1.setDate(d1.getDate() + 0); // change to + 1 if necessary
            var d2 = $(this).datepicker("getDate");
            d2.setDate(d2.getDate() + 60); // change to + 29 if necessary
            $("#to").datepicker("setDate", null);
            $("#to").datepicker("option", "minDate", d1);
            $("#to").datepicker("option", "maxDate", d2);
            datepicked();
        }
    });
    $('#to').datepicker({
        numberOfMonths: 2,
        firstDay: 1,
        dateFormat: 'mm-dd-yy',
        minDate: '0',
        maxDate: '+2Y',
        onSelect: function(dateStr) {
            datepicked();
        }
    });
});

</script>

<br/><br/>