
        <!-- Optional header components (ex: slider) -->
        	<!-- Importing slider content -->
	<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
    <div id="layerslider" style="width:100%;height:520px;"> 
        <!-- Slide 1 -->
        <div class="ls-slide">
            <!-- slide background -->

            <!--  image_tag "full-bg-7.png", :html => { :class => 'ls-bg' } %> -->

            <img src="images/backgrounds/full-bg-9.jpg" class="ls-bg" alt="Slide background"/>
            
            <!-- Right Image -->
            <img src="images/giftcards_main.jpg" class="ls-l" style="top:50%; left:70%;" alt="Image layer">
            
            <!-- Left Text -->
            <h3 class="ls-l title title-sm strong" style="width:550px; top:15%; left:80px;">Donate Your Unused Gift Cards</h3>
            <h3 class="ls-l subtitle strong-400" style="width:500px;top:35%; left:80px;">Never let your gift cards go to waste!<br/>Donate your unused gift cards to your favorite cause and feel good about it.</h3>
            
            <a href="/cause/index" class="btn btn-base btn-lg ls-l" style="top:55%; left:80px;">Donate</a>

            <a href="#" class="btn btn-base btn-lg ls-l visible-sm visible-xs" style="top:70%; left:80px;">Check Gift Card Balance</a>
            
            <div class="ls-l input-group add-on visible-lg visible-md" style="width:400px; top:70%; left:80px;">

                <div class="form-body">
                                <form action="" id="frmLogin" class="sky-form">                                    
                                    <fieldset>                  
                                        <section>
                                            <div class="form-group">
                                                
                                                <label class="input">
                                                    <i class="icon-append fa fa-credit-card"></i>
                                                    <input type="text" name="giftcard" 
                                                    placeholder="Check Your Gift Card Balance"
                                                    style="font-size:large">
                                                </label>
                                            </div>     
                                        </section>
                                       
                                    </fieldset>  
                                </form>    
                            </div>
            </div>


               
            <p class="ls-l visible-lg visible-md" style="width:500px;top:75%; left:80px;font-size:medium;color:white">
                Start typing and select the retailer on your gift card.</p>
            
            <h3 class="ls-l subtitle strong-400" style="width:500px;top:80%; left:80px;">Store all your gift cards in one location.</h3>
            
           

        </div>

        
        
    </div>
</section>

    
    <!-- MAIN CONTENT -->




<section class="slice base">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <h3>Changefindr turns your unused gift cards into cash to go towards your favorite cause.</h3>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 ">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="c-white">Step 1: CHOOSE</h4>
                                <p>Select the cause you want to support.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-gift"></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="c-white">Step 2: GIVE</h4>
                                <p>Select the store and enter the gift card number.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-envelope-o "></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="c-white">Step 3: RECEIVE</h4>
                                <p>Enter your Card and Pin #. Then receive your donation receipt. Simple as that.</p>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <a href="/cause/index" class="btn btn-base btn-lg">Find Out How It Works</a>
                        <br/>
                    </div>
                </div>
            </div>  
        </div>
</section>

<section class="slice relative bg-white bb animate-hover-slide">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Causes</span></h3>
                </div>
                
                <div id="carouselWork" class="carousel carousel-3 slide animate-hover-slide">
                    <div class="carousel-nav">
                        <a data-slide="prev" class="left" href="#carouselWork"><i class="fa fa-angle-left"></i></a>
                        <a data-slide="next" class="right" href="#carouselWork"><i class="fa fa-angle-right"></i></a>
                    </div>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <% 
                                i = 0
                                while i < @causes.count
                                 
                                    if i == 0
                                        classitem = 'item active'
                                    else
                                        classitem = 'item'
                                    end

                            %>
                            <div class="<%=classitem%>">
                                <div class="row">
                                    <% (0..3).each do |k| %>
                                        <% if @causes[i+k] != nil %>
                                            <div class="col-md-3">
                                                <div class="wp-block inverse">
                                                    <div class="figure">
                                                        <img alt="" src="<%=@causes[i+k].logo.url%>" class="img-responsive">
                                                        <div class="figcaption bg-base"></div>
                                                        <div class="figcaption-btn">
                                                            <a href="#" class="btn btn-xs btn-b-white theater"><i class="fa fa-credit-card"></i> Donate</a>
                                                            <a href="<%= "http://" +  @userhost + "/cause/show/" +  @causes[i+k].charityid.to_s %>" class="btn btn-xs btn-b-white"><i class="fa fa-plus-circle"></i> View Details</a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-9">
                                                            <h2 class="text-left"><%= @causes[i+k].charityname %></h2>
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        <% 
                                            end
                                        end 
                                    
                                        %>
   
                                </div>
                            </div>
                            <% 
                                i += 4
                                end 
                            %>   

                        </div>
                </div>  <!-- end Carasoul -->
            </div>
            <br/><br/>
            <div style="text-align:center">
                <a href="/cause/index" class="btn btn-base btn-lg">Browse All Causes</a>
            </div>
            <br/><br/>
        </div>
</section>

<section class="prlx-bg inset-shadow-1" data-stellar-ratio="2" style="padding: 50px 0; background-image: url(images/sections/section-bg-2.jpg); background-position: 0 -400px;">
        <div class="mask mask-2"></div>
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">  
                        <div class="text-center">
                            
                            <h1 class="c-white">Check Your Gift Card Balance Instantly</h1>
                                <br/>
                            <h2 class="c-white">
                                Store all your gifts cards in one place
                            </h2>
                            <span class="clearfix"></span>
                            <br/><br/>
                            <div class="text-center">
                                <a href="http://player.vimeo.com/video/22290612" class="btn btn-lg btn-b-white mt-20 ext-source">Check Your Gift Card Balance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
    
<section id="companyCarousel" class="carousel carousel-2 slide bg-white bb" data-ride="carousel">
        <div class="container relative">
            
            <div class="carousel-inner">
                <div class="owl-carousel owl-carousel-single no-padding">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="title" style="text-align:center">Congratulations to 
                                    <a href="/cause/show/39">CoderDojo</a>
                                     on their fundraiser.<br/> They were able to buy their first Lego Robotic Kit from unused gift card donations.</h2>

                                <br/>
                                <p>CoderDojo is a movement orientated around running free not-for-profit coding clubs and regular sessions for young people. At a CoderDojo, young people learn how to code, develop websites, apps, programs, games and more. Dojos are set up, run by and taught at by volunteers. Dojos organize tours of technology companies, bring in guest speakers to talk about their career and what they do, and organise events. In addition to learning to code, members meet like minded people, show off what they've been working on and so on. CoderDojo makes development and learning to code a fun, sociable, kick ass experience. CoderDojo also puts a strong emphasis on open source and free software, and has a strong network of members and volunteers globally.
                                </p>
                                
                            </div>
                            <div class="col-md-6">
                                <img src="images/photo_attachment/39/original/CoderCamp01.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</section>



    <section class="slice base bb">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title center">
                        <span class="c-white">What do we offer</span>
                        <small class="c-white">Lorem ipsum dolor sit amet</small>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-list-alt"></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="">Endless possibilities</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 ">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="">Over 60 page layouts</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-camera-retro"></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="">Great design. Flexible code</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 ">
                        <div class="icon-block icon-block-1">
                            <div class="icon-block-item">
                                <i class="fa fa-coffee"></i>
                            </div>
                            <div class="icon-block-body">
                                <h4 class="">Super friendly customer support</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="slice white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="milestone-counter">
                            <div class="milestone-count c-gray" data-from="0" data-to="11100" data-speed="3000" data-refresh-interval="100"></div>
                            <h4 class="milestone-info c-gray">Customers</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="milestone-counter">
                            <div class="milestone-count c-gray" data-from="0" data-to="154" data-speed="5000" data-refresh-interval="50"></div>
                            <h4 class="milestone-info c-gray">Finalized projects</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="milestone-counter">
                            <div class="milestone-count c-gray" data-from="0" data-to="430" data-speed="5000" data-refresh-interval="80"></div>
                            <h4 class="milestone-info c-gray">Rewards</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="milestone-counter">
                            <div class="milestone-count c-gray" data-from="0" data-to="1230" data-speed="5000" data-refresh-interval="80"></div>
                            <h4 class="milestone-info c-gray">New ideas</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice base">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div id="carouselTestimonial" class="carousel carousel-testimonials slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselTestimonial" data-slide-to="1" class=""></li>
                                <li data-target="#carouselTestimonial" data-slide-to="2" class=""></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="text-center">
                                        <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                        <p class="testimonial-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt, Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                        Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                        </p>
                                        <p>
                                            John Doe – Company Inc
                                        </p>
                                        <span class="clearfix"></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="text-center">
                                        <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                        <p class="testimonial-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt, Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                        Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                        </p>
                                        <p>
                                            John Doe – Company Inc
                                        </p>
                                        <span class="clearfix"></span>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="text-center">
                                        <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                        <p class="testimonial-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt, Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                        Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam consectetur adipisg elitm Ut tincidunt.
                                        </p>
                                        <p>
                                            John Doe – Company Inc
                                        </p>
                                        <span class="clearfix"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice animate-hover-slide bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Latest news</span></h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="wp-block article grid">
                            <div class="article-image">
                                <img src="images/prv/magazine/magazine-small-1.jpg" alt="">
                                <h4 class="image-title base">Must read</h4>
                            </div>
                            <span class="article-category">Business news</span>
                            <h3 class="title">
                                <a href="">Fortitor Posuere &amp; Praesent Metus Ins</a>
                            </h3>
                            <p>
                            Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt ut amat volutpat aliquam erat are esrseiiqetuer.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="wp-block article list">
                                    <div class="article-image">
                                        <img src="images/prv/magazine/magazine-small-2.jpg" alt="">
                                    </div>
                                    <div class="wp-block-body">
                                        <h3 class="title">
                                            <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                        </h3>
                                        <p>
                                        Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wp-block article list">
                                    <div class="article-image">
                                        <img src="images/prv/magazine/magazine-small-3.jpg" alt="">
                                    </div>
                                    <div class="wp-block-body">
                                        <h3 class="title">
                                            <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                        </h3>
                                        <p>
                                        Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="wp-block article list">
                                    <div class="article-image">
                                        <img src="images/prv/magazine/magazine-small-4.jpg" alt="">
                                    </div>
                                    <div class="wp-block-body">
                                        <h3 class="title">
                                            <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                        </h3>
                                        <p>
                                        Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wp-block article list">
                                    <div class="article-image">
                                        <img src="images/prv/magazine/magazine-small-5.jpg" alt="">
                                    </div>
                                    <div class="wp-block-body">
                                        <h3 class="title">
                                            <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                        </h3>
                                        <p>
                                        Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="wp-block article list">
                                    <div class="article-image">
                                        <img src="images/prv/magazine/magazine-small-6.jpg" alt="">
                                    </div>
                                    <div class="wp-block-body">
                                        <h3 class="title">
                                            <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                        </h3>
                                        <p>
                                        Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wp-block article list">
                                    <div class="article-image">
                                        <img src="images/prv/magazine/magazine-small-7.jpg" alt="">
                                    </div>
                                    <div class="wp-block-body">
                                        <h3 class="title">
                                            <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                        </h3>
                                        <p>
                                        Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </section>

    <section class="slice base p-15">
        <div class="cta-wr">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h1>
                            Enhance shopping experience with our template. Start selling your products! 
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="btn btn-lg btn-b-white btn-icon btn-cart pull-right">
                            <span>Visit the shop</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice light-gray bb">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Featured products</span></h3>
                </div>
                <div class="no-margin owl-carousel owl-carousel-4" data-owl-pagination="smth">
                    <div class="item">
                        <div class="wp-block product">
                            <figure>
                                <img alt="" src="images/prv/product-1.jpg" class="img-responsive img-center">
                                <span class="ribbon base">New</span>
                            </figure>
                            <h2 class="product-title"><a href="">Nikon Coolpix L320</a></h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                            </p>
                            <div class="wp-block-footer">
                                <span class="price pull-left">RON 233.33</span>
                                <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wp-block product">
                            <figure>
                                <img alt="" src="images/prv/product-2.jpg" class="img-responsive img-center">
                                <span class="ribbon orange">Sale</span>
                            </figure>
                            <h2 class="product-title"><a href="">Samsung Galaxy S4</a></h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                            </p>
                            <div class="wp-block-footer">
                                <span class="price pull-left">RON 233.33</span>
                                <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wp-block product">
                            <figure>
                                <img alt="" src="images/prv/product-3.jpg" class="img-responsive img-center">
                            </figure>
                            <h2 class="product-title"><a href="">Asus Ultra Notebook</a></h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                            </p>
                            <div class="wp-block-footer">
                                <span class="price pull-left">RON 233.33</span>
                                <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wp-block product">
                            <figure>
                                <img alt="" src="images/prv/product-4.jpg" class="img-responsive img-center">
                                <span class="ribbon red">Special</span>
                            </figure>
                            <h2 class="product-title"><a href="">PC mouse Microsoft</a></h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                            </p>
                            <div class="wp-block-footer">
                                <span class="price pull-left">RON 233.33</span>
                                <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="wp-block product">
                            <figure>
                                <img alt="" src="images/prv/product-1.jpg" class="img-responsive img-center">
                                <span class="ribbon base-alt">New</span>
                            </figure>
                            <h2 class="product-title"><a href="">Nikon Coolpix L320</a></h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                            </p>
                            <div class="wp-block-footer">
                                <span class="price pull-left">RON 233.33</span>
                                <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wp-block product">
                            <figure>
                                <img alt="" src="images/prv/product-2.jpg" class="img-responsive img-center">
                                <span class="ribbon yellow">Sale</span>
                            </figure>
                            <h2 class="product-title"><a href="">Samsung Galaxy S4</a></h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                            </p>
                            <div class="wp-block-footer">
                                <span class="price pull-left">RON 233.33</span>
                                <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="wp-block product">
                            <figure>
                                <img alt="" src="images/prv/product-3.jpg" class="img-responsive img-center">
                            </figure>
                            <h2 class="product-title"><a href="">Asus Ultra Notebook</a></h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
                            </p>
                            <div class="wp-block-footer">
                                <span class="price pull-left">RON 233.33</span>
                                <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CLIENTS -->
    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Our partners</span></h3>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="images/clients/client-1.png" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="images/clients/client-2.png" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="images/clients/client-3.png" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="images/clients/client-4.png" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="images/clients/client-7.png" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="images/clients/client-6.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>