
<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Team</h2>
                </div>
                
            </div>
        </div> 
    </div>

   <section class="slice white bb">
        <div class="wp-section">
            <div class="container">
                <div class="row">  
                	<div class="col-md-3">
                		<img src="<%= CLOUDFRONT_HOST %>/images/prv/team/team-corporate-3.jpg" class="img-responsive" style="max-height:309px" alt="">
                	</div>
                	<div class="col-md-9">
                		<div class="row">
                			<div class="col-md-7">
                				<h4 class="title">Founder/CEO</h4>
                			</div>
                			<div class="col-md-5">
                				<div class="social-media social-media-sm text-right">
			                        <a href="#" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
			                        <a href="#" title="Google +"><i class="fa fa-google-plus google"></i></a>
			                        <a href="#" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
			                    </div>
                			</div>
                		</div>
                		<h3 class="title-lg">Ruchi Mitra</h3>
                		<p>
                			Ruchi ran an IT consulting firm for 11 years before successfully selling the business. Her company served Fortune 500 clients like Oracle and Barclays. She also worked as an Advertising and Marketing consultant with Telstra, Australia. She holds a BA in Economics and an MBA from Delhi University, India. In addition, she has a Postgraduate Diploma in Marketing from Victoria University of Technology, Australia.She has 2 years of fundraising experience with Multiple Sclerosis Association of America and is a graduate of Founder Institute.
                		</p>
                		
                	</div>
                </div>
                <hr>
                <div class="row">  
                	<div class="col-md-9">
                		<div class="row">
                			<div class="col-md-7">
                				<h4 class="title">Co-Founder/CTO </h4>
                			</div>
                			<div class="col-md-5">
                				<div class="social-media social-media-sm text-right">
			                        <a href="#" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
			                        <a href="#" title="Google +"><i class="fa fa-google-plus google"></i></a>
			                        <a href="#" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
			                    </div>
                			</div>
                		</div>
                		<h3 class="title-lg">Vipul Bhavsar</h3>
                		<p>
                			Vipul has experience as the software architect and lead programmer for a large IT Company. Prior to this he has been the senior software developer and architect for eXcelon corporations. He has also worked as a consultant on various programming projects for the US Navy and Tibco. Vipul has a Bachelor’s from the University of California and a Masters from USC, both in Computer Science. He is also a Project Management Professional (PMP).
                		</p>
                		
                	</div>
                	<div class="col-md-3">
                		<img src="<%= CLOUDFRONT_HOST %>/images/VipulProfilePic.jpg" class="img-responsive" style="max-height:309px" alt="">
                	</div>
                </div>
                <hr>
                <div class="row ">  
                	<div class="col-md-3">
                		<img src="<%= CLOUDFRONT_HOST %>/images/simranintern.jpg" class="img-responsive" alt="">
                	</div>
                	<div class="col-md-9">
                		<div class="row">
                			<div class="col-md-7">
                				<h4 class="title">Marketing Intern</h4>
                			</div>
                			<div class="col-md-5">
                				<div class="social-media social-media-sm text-right">
			                        <a href="#" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
			                        <a href="#" title="Google +"><i class="fa fa-google-plus google"></i></a>
			                        <a href="#" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
			                    </div>
                			</div>
                		</div>
                		<h3 class="title-lg">Simran Makker</h3>
                		<p>
                			Simran is currently a junior at Rochester Institute of Technology pursuing a dual degree in Marketing and Advertising Photography. She has previous work experience working with small startups in different areas with marketing. She is an active member of the Zeta Tau Alpha sorority and has a lot of experience with fundraising for different causes.
                		</p>
                		
                	</div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice white bb animate-hover-slide-3">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
            	   <h3 class="section-title left"><span>ADVISORS</span></h3>
                </div>
                <div class="row">   
                	<div class="col-md-4">
                        <div class="wp-block inverse">
                            
                            <h2>Jawad Ansari<small>CEO GCube Capital</small></h2><br/>
                            <p>
                            18 years of global operating and investment management experience, 
                Founder and CEO of Corporate Metrix Multi Family Office, Miven Family Office, Miven Venture Partners,
                Co-founder of Skyline Ventures and Irvine Ventures.<br />
                <br />
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="wp-block inverse">
                           
                            <h2>Michael Sawitz<small>Founder of Fast Start Studios</small></h2><br/>
                            <p>
                            Board of Directors, Tech Coast Venture Network<br/>
							CEO of AMailCenter Franchise Corporation
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="wp-block inverse">
                            
                            <h2>Dimitri Villard<small>Executive Committee, Tech Coast Angels</small></h2><br/>
                            <p>
                            CEO of Artist Direct<br/>
							CEO of Peer Media Technologies
                            </p>
                        </div>
                    </div>
                    
                    
        
                </div>
            </div>
        </div>
    </section>
