<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>About us</h2>
                </div>
                
            </div>
        </div>
    </div>

    <section class="slice white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <br/><br/><br/><br/>
                        <p>Many nonprofits and charities love gift cards because they are easier to control spending than cash and more flexible than physical goods. However, these organizations do not have the network nor the capacity to generate significant fundraising with gift cards. That's where Changefindr comes in. We provide all the collection, aggregation and conversion to cash. That way, they can focus on what they do best: helping others. </p>
                    </div>
                     <div class="col-md-5">
                        
                            <img src="<%= CLOUDFRONT_HOST %>/images/prv/col-img-7.jpg" class="img-responsive"/>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
<br/><br/>
    <section class="slice light-gray bt bb">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        
                        <p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i> Changefindr is an online and mobile platform that puts your unused gift cards to a worthy cause.</li>
                            <br/><br/>
                            <li><i class="fa fa-check"></i> Our mission is to help projects and organizations find additional sources of funding through gift cards while helping merchants clear their books from unused gift card balances. It is a win-win partnership between projects in need of funding and merchants who can safely file their gift card sales as revenue.</li>
                            
                        </ul>
                        </p>
                        
                    </div>
                    <div class="col-md-4">
                        <p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i> We are an awesome, diverse team of entrepreneurs trying to help change the world with the 'change' in your gift cards. We love what we do and hope that you are equally impressed with Changefindr.</li>
                            <br/>
                            <li><i class="fa fa-check"></i> We continue to partner with businesses so they can also spread the word and become more philanthropic while gaining new customers with similar values.</li>
                            <br/>
                            <li><i class="fa fa-check"></i> Gift card givers feel good and slim their wallets. Causes earn more funding. Merchants add more revenue. Everyone wins.</li>
                            
                            
                        </ul>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i> Many nonprofits and charities love gift cards because they are easier to control spending than cash and more flexible than physical goods. However, these organizations do not have the network nor the capacity to generate significant fundraising with gift cards. That's where Changefindr comes in. We provide all collection, aggregation and conversion to cash for the cause. That way, they can focus on what they do best: helping others.</li>
                            
                        </ul>
                        </p>
                    </div>
                </div>
<br/><br/>
				<div class="row">
                    <div class="col-md-12" style="text-align:center">
                    	<h4>Change the world through gift cards. It's that simple. Want to get started?</h4>
                    	<br/><br/>
                    	<button id="register_button" class="btn btn-base btn-icon btn-icon-right btn-sign-in" type="button"
                                onClick="location.href='/cause/index'">
                                    <span>Donate Your Unused Gift Card</span>
                		</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <br/><br/><br/><br/><br/><br/>
