 <br/><br/>

 <section class="slice bg-base">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Frequently asked questions</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>How do we work</span></h3>
                        </div>

                        <div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse1">
                                        1. HOW IT WORKS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    Donate to your favorite cause on Changefindr with your unused gift cards. Choose the cause; enter your gift card number and pin and get the donation receipt for donation of $2.00 or more.
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse2">
                                        2. WHAT HAPPENS WHEN THE CARDS ARRIVE AT CHANGEFINDR?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    We verify the amount, confirm the correct cause, process the gift card and give the appropriate funds to the designated organizations. 
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                         <div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3">
                                        3. DO YOU PROVIDE DONATION RECEIPTS?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    Yes we will provide the donation receipts on behalf of the Cause but upon verification of the card details and donation. The donations may be tax deductible but we request you to check with your tax advisor for the same. 
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                            <div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse4">
                                        4. HOW CAN I CREATE MY OWN CAUSE CAMPAIGN?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    We are building an absolutely simple way for nonprofits, charities, and other project teams to create their own campaigns on our site.  Please click on "Start Fundraiser" in the menu bar and start adding your cause. Once we receive the cause we will  verify it and then approve it. You will receive an email from us. 
                                    </div>
                                </div>
                            </div>
                        </div>

							<div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse5">
                                        5. What happens if I use my card after I submit the number?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    We assume in good faith you will refrain from using the card until the organizations have claimed the balance. We cannot do anything at this point to say that these charities probably need the gift card more than you. 
                                    </div>
                                </div>
                            </div>
                        </div>

							<div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse6">
                                        6. What if I don't have a gift card but still want to donate to a Cause through my credit card or bank account?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    We are a startup and working very hard to add the feature of additional donation. Please send us an email at info@changefindr.com and we will let you know promptly when we add that feature. We sincerely thank you for your patience in this matter.  
                                    </div>
                                </div>
                            </div>
							</div>

							<div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse7">
                                        7. What if my gift card merchant is not listed on your site?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    We are currently working with the top retail merchants. If the merchant is not listed on our site, you can send us the name and city of the merchant so that we can reach out to them to ensure that they can help support the projects you want to fund. 
                                    </div>
                                </div>
                            </div>
							</div>

							<div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse8">
                                        8. What if the cause I want to donate to is not listed on your site?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    We are currently working as quickly as possible to add new causes. You can send us the name and information of the cause so we can reach out them to ensure they get the proper funding they deserve. At the same time, you are free to send us the card, but we would have to hold the card in your name, until the cause agrees to partner with Changefindr. We look forward to working with anyone that needs funding, from schools, to religious entities, to charities, to local projects, etc. Please recommend who you like to see on our site, and we will do all the leg work to make sure they become part of the Changefindr family.  
                                    </div>
                                </div>
                            </div>
							</div>

							<div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse9">
                                        9. How much money are the causes REALLY getting?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse9" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    Changefindr charges a small fee of 10% to keep the website up and running and for administration cost. Card processors charge anywhere between 10%-15% (depending on the popularity of the card) to convert the gift cards to cash for causes. Rest is given to the cause of your choice. So Causes end up getting 75%-80% of the amount donated.  
                                    </div>
                                </div>
                            </div>
							</div>

							<div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse10">
                                        10. How can I work with you?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse10" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    We are currently looking for specific candidates that match our needs. Please check our Careers page to see if you fit any of the profiles we are looking for. You can submit your cover letter and resume to info@changefindr.com.  
                                    </div>
                                </div>
                            </div>
							</div>

							<div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse11">
                                        11. How can I reach someone at Changefindr?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse10" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    Please email us at info@changefindr.com and we will respond within 48 hours of receipt. Please also look for our online chat service which will become live shortly. 
                                    </div>
                                </div>
                            </div>
							</div>

                    </div>
                    
                    <div class="col-md-3">
                        <%= render partial: "widgets/newsletter.html.erb" %>   

                        <%= render partial: "widgets/testimonials.html.erb" %>  
                

                    </div> 
                </div>
            </div>
        </div>
    </section>
