<div class="pg-opt">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Blog</h2>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
    </div>
</div>

<section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    	<div class="post-item">
	                        <div class="post-meta-top">
	                            <div class="post-image">
	                            	<a href="images/temp/post-img-2.jpg" class="theater" title="Shoreline">
	                            		<img src="images/temp/post-img-2.jpg" alt="">
	                            	</a>
	                            </div>
	                        </div>
	                        <div class="post-content">
	                            <h2 class="post-title"><a href="#" hidefocus="true" style="outline: none;">Fortitor Posuere &amp; Praesent Metus Ins</a></h2>
	                            <span class="post-author">WRITTEN BY <a href="#" hidefocus="true" style="outline: none;">James Franco</a></span>
	                            <div class="post-tags">Posted in <a href="#" hidefocus="true" style="outline: none;">HOTELS</a>, <a href="#" hidefocus="true" style="outline: none;">SPECIAL PROMOS</a>, <a href="#" hidefocus="true" style="outline: none;">SUMMER</a></div>
	                            <div class="clearfix"></div>
	                            <div class="post-desc">
	                            	<p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.
                                    Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus...
                                    </p>
                                    <p>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
                                    </p>
                                    <p>
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                    <p class="highlight">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.
                                    Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.
                                    </p>
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. 
                                    </p>
                                    <p>
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                                    </blockquote>
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.
                                    Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus...
                                    </p>
	                            </div>
	                        </div>
	                        <hr>

	                        <!-- Comments list section -->
	                        <div class="comment-list clearfix" id="comments">
		                        <h2>4 Readers Commented</h2>
		                        <a href="#divAddComment" class="link-add-comment anchor" hidefocus="true" style="outline: none;">Join Discussion</a>
		                        <!-- Comments list -->
		                        <ol>
		                            <li class="comment">
		                                <div class="comment-body bb">
		                                    <div class="comment-avatar">
		                                        <div class="avatar"><img src="images/temp/avatar1.png" alt=""></div>
		                                    </div>
		                                    <div class="comment-text">
		                                        <div class="comment-author clearfix">
		                                            <a href="#" class="link-author" hidefocus="true" style="outline: none;">Brad Pit</a>
		                                            <span class="comment-meta"><span class="comment-date">June 26, 2013</span> | <a href="#addcomments" class="link-reply anchor" hidefocus="true" style="outline: none;">Reply</a></span>
		                                        </div>
		                                        <div class="comment-entry">
		                                            William Bradley "Brad" Pitt is an American actor and film producer. Pitt has received four Academy Award nominations and five Golden Globe.
		                                        </div>
		                                    </div>
		                                </div>
		                            </li>

		                            <li class="comment">
		                                <div class="comment-body bb">
		                                    <div class="comment-avatar">
		                                        <div class="avatar"><img src="images/temp/avatar2.png" alt=""></div>
		                                    </div>
		                                    <div class="comment-text">
		                                        <div class="comment-author clearfix">
		                                            <a href="#" class="link-author" hidefocus="true" style="outline: none;">Ari Gold</a>
		                                            <span class="comment-meta"><span class="comment-date">June 25, 2013</span> | <a href="#addcomments" class="link-reply anchor" hidefocus="true" style="outline: none;">Reply</a></span>
		                                        </div>
		                                        <div class="comment-entry">
		                                            Ari Gold is Vincent Chase's neurotic movie agent. He was an undergrad at Harvard University before earning his J.D./M.B.A. at the University of Michigan. In addition to reprising the role for the upcoming prequels of
		                                        </div>
		                                    </div>
		                                </div>
		                                <ul class="children">
		                                    <li class="comment">
		                                        <div class="comment-body bb">
		                                            <div class="comment-avatar">
		                                                <div class="avatar"><img src="images/temp/avatar3.png" alt=""></div>
		                                            </div>
		                                            <div class="comment-text">
		                                                <div class="comment-author clearfix">
		                                                    <a href="#" class="link-author" hidefocus="true" style="outline: none;">Elijah Wood</a>
		                                                    <span class="comment-meta"><span class="comment-date">June 24, 2013</span> | <a href="#addcomments" class="link-reply anchor" hidefocus="true" style="outline: none;">Reply</a></span>
		                                                </div>
		                                                <div class="comment-entry">
		                                                    Elijah Wood is an American actor best known for Frodo.
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </li>
		                                </ul>
		                            </li>

		                            <li class="comment">
		                                <div class="comment-body bb">
		                                    <div class="comment-avatar">
		                                        <div class="avatar"><img src="images/temp/avatar4.png" alt=""></div>
		                                    </div>
		                                    <div class="comment-text">
		                                        <div class="comment-author clearfix">
		                                            <a href="#" class="link-author" hidefocus="true" style="outline: none;">Superman</a>
		                                            <span class="comment-meta"><span class="comment-date">June 23, 2013</span> | <a href="#addcomments" class="link-reply anchor" hidefocus="true" style="outline: none;">Reply</a></span>
		                                        </div>
		                                        <div class="comment-entry">
		                                            Superman is a fictional character, a comic book superhero who appears in comic books published by DC Comics.
		                                        </div>
		                                    </div>
		                                </div>
		                            </li>

		                        </ol>
		                    </div>

		                    <!-- Add comment section -->
		                    <div class="section-title-wr" id="divAddComment">
		                    	<h3 class="section-title left"><span>Leave a reply</span></h3>
		                    </div>
		                    
		                    <form class="form-light">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg">
	                                        <label class="">First name</label>
	                                        <input type="text" class="form-control input-lg" placeholder="" hidefocus="true">
	                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg">
	                                        <label class="">Last name</label>
	                                        <input type="text" class="form-control input-lg" placeholder="" hidefocus="true">
	                                    </div>
                                    </div>
                                </div>           
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg">
	                                        <label class="">Eail</label>
	                                        <input type="email" class="form-control input-lg" placeholder="" hidefocus="true">
	                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg">
	                                        <label class="">Website</label>
	                                        <input type="text" class="form-control input-lg" placeholder="" hidefocus="true">
	                                    </div>
                                    </div>
                                </div>      
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <textarea class="form-control" placeholder="Write your comment here" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col-md-6">
                                        <a data-toggle="modal" href="#commentModal" class="btn btn-dark btn-icon btn-comment pull-left" title="Click to open modal form example">
                                        	<span>Open modal</span>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-base btn-icon btn-send pull-right" title="">
                                        	<span>Send comment</span>
                                        </a>
                                    </div>
                                </div>     
                            </form>

	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>