<div class="sidebar">

	

	<!-- NEWSLETTER WIDGET -->
    <div class="panel panel-default panel-sidebar-1">
        <div class="panel-heading"><h2>Sign up for our newsletter</h2></div>
        <form class="sky-form" role="form">
            <div class="panel-body">
                <p>
                    Sign up if you would like to receive occasional treats from us.
                </p>
                <section>
                    <div class="form-group">
                        <label class="label sr-only">Password</label>
                        <label class="input">
                            <input type="email" name="email" placeholder="name@example.com">
                        </label>
                    </div>     
                </section>
                
            </div>
            <button type="submit" class="btn btn-lg btn-block-bm btn-alt btn-icon btn-icon-right btn-envelope">
                <span>Sign Me Up</span>
            </button>
        </form>   
    </div>

    <!-- DID YOU KNOW WIDGET -->
    <div class="panel panel-default panel-sidebar-1">
        <div class="wp-block icon-square arrow-down">
            <div class="img-icon-wrapper">
                <div class="img-icon">
                    <img src="<%= CLOUDFRONT_HOST %>/images/icons/svg/book.svg" class="img-responsive img-center">
                </div>
            </div>
            <div class="wp-block-body">
                <h1>Did you know?</h1>
                <p class="text-center">
                <%= @giftcardstats[0].description %> 
                </p>
            </div>
        </div>
    </div>

	<!-- TESTIMONIAL WIDGET --> 
    <div class="panel panel-default panel-sidebar-1">
        <div class="panel-heading"><h2>Testimonials</h2></div>
        <div class="owl-carousel owl-carousel-single">
            <div>
                <div class="wp-block testimonial style-1 base">
                   
                    <div class="wp-block-body"> 
                        <p>
                            <i class="fa fa-quote-left"></i>Changefindr made it very easy to collect funds through unused gift cards.
                        </p>
                    </div>
                    <div class="testimonial-author light">  
                        
                        <div class="author-info">
                            <span class="author-name">Ounie Phakousonh</span>
                            <small class="author-pos">CoderDojo</small>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

         <div class="owl-carousel owl-carousel-single">
            <div>
                <div class="wp-block testimonial style-1 base">
                   
                    <div class="wp-block-body"> 
                        <p>
                            <i class="fa fa-quote-left"></i>Changefindr gives me the opportunity to contribute to my favourite cause even in difficult times.
                        </p>
                    </div>
                    <div class="testimonial-author light">  
                        
                        <div class="author-info">
                            <span class="author-name">Seema Makker</span>
                            <small class="author-pos">Donor</small>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

 </div> 