<!-- MODALS -->

<!-- MOBILE MENU - Option 2 -->
<section id="navMobile" class="aside-menu left">
    <form class="form-horizontal form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button id="btnHideMobileNav" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
    <div id="dl-menu" class="dl-menuwrapper">
        <ul class="dl-menu"></ul>
    </div>
</section> 

<!-- SLIDEBAR -->
<section id="asideMenu" class="aside-menu right">
    <form class="form-horizontal form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button id="btnHideAsideMenu" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
    
    <h5 class="side-section-title">Changefindr</h5>
    <div class="nav">
        <ul>
            <li>
                <a href="/home/index">Home</a>
            </li>
            <li>
                <a href="/aboutus/index">About us</a>
            </li>
            <li>
                <a href="/faq/index">FAQ</a>
            </li>
            <li>
                <a href="/termsconditions/index">Terms and Conditions</a>
            </li>
            <li>
                <a href="/privacypolicy/index">Privacy Policy</a>
            </li>
            <li>
                <a href="/team/index">Team</a>
            </li>
            <li>
                <a href="/contact/index">Contact</a>
            </li>
            <li>
                <a href="/careers/index">Careers</a>
            </li>
            
        </ul>
    </div>
    
    <h5 class="side-section-title">Social media</h5>
    <div class="social-media">
        <a href="#"><i class="fa fa-facebook facebook"></i></a>
        <a href="#"><i class="fa fa-twitter twitter"></i></a>
    </div>
    
    <h5 class="side-section-title">Contact information</h5>
    <div class="contact-info">
        <h5>Address</h5>
        <p>15550-D Rockfield Blvd. Irvine, CA 92618 - United States</p>
        
        <h5>Email</h5>
        <p>info@changefindr.com</p>
        
        
    </div>
</section>