

<% if session[:usergiftcardscount] != nil && session[:usergiftcardscount] > 0 %>

<style>
.bg-banner-2 {
padding: 54px 0 !important;
background: url(../images/patterns/squairy-light.png) repeat fixed !important;
color: #fff;
}
</style>

 <section class="slice bg-banner-2 animate-in-view">
        <div class="wp-section">
            <div class="container">
    <div class="row">

            <h3 style="color: #333;">My Gift Cards</h3>

                <div class="col-lg-6" style="text-align:center;color: black;">
                    <div class="row">
                        <% 
                            @usergiftcards.each do |usergiftcard|
                        %>
                        <div class="col-lg-6">

                            <%= render(:partial => "giftcard/giftcard_product", :locals => {:usergiftcard => usergiftcard}) %>

                           

                          </div>

                      <% end %>
                  </div>

                  <div style="text-align: center;">
                        <% if @usergiftcardscount > 2 %>
                            <a href="/giftcard/index" class="btn btn-base btn-icon btn-icon-right fa-caret-square-o-right">
                                <span>View All My Gift Cards</span>
                            </a>
                        <% end %>
                        <br/><br/>
                        <a href="/giftcard/new" class="btn btn-base btn-icon btn-icon-right fa-gift">
                                <span>Check Another Balance</span>
                        </a>
                        <br/><br/>
 
                </div>
            </div>

            <div class="col-lg-6" style="text-align:center">

                <div class="row-fluid">
                    <div class="col-md-12 wp-block no-space arrow-right base no-margin">
                        <div class="wp-block-body">
                            <div class="img-icon">
                                <img src="<%= CLOUDFRONT_HOST %>/images/icons/svg/book.svg">
                            </div>
                            <h1>Did you know?</h1>
                            <p class="text-center">
                                <% @giftcardstats.each do |giftcardstat| %>

                                    <%= giftcardstat.description %>
                                    <br/><br/>

                                <% end %>

                            </p>
                        </div>
                    </div>
                    
                </div>

            </div>

</div>
</section>

<% end %>